body{
	margin: 0px;
}

.pool{
	/* margin: 0px; */
	background-color: cadetblue;
	width: 100wh;
	height: 100vh;
	position: relative;
}

.ball{
	background-color: white;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0%;
	left: 0%;
	/* bottom: 0%; */
}