* {
  font-family: Poppins; }

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5; }

.upMenu {
  display: grid;
  grid-template-columns: 128px 128px 1fr 40px 40px;
  grid-template-rows: 60px; }

.logo {
  grid-column: 1/3;
  grid-row: 1;
  padding: 17px 0 17px 24px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo > span {
    font-size: 600;
    font-size: 18px;
    color: #109cf1; }

.search {
  grid-column: 3;
  grid-row: 1;
  padding: 17px 0 17px 24px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search > img {
    margin: 20px 20px 20px 36px; }
  .search > p {
    color: #90a0b7;
    font-size: 12px;
    font-size: 600; }

.notificationImg {
  grid-column: 4/6;
  grid-row: 1;
  padding: 20px 40px 20px 24px;
  background-color: white; }

.secondConteiner {
  display: grid;
  grid-template-columns: 128px 128px 36px 1fr 36px 40px;
  grid-template-rows: 36px 1fr 1fr 36px; }

.leftMenu {
  grid-column: 1/3;
  grid-row: 1/21;
  background-color: white;
  border: 1px solid #e5e5e5; }

.content {
  grid-row: 1/21; }

.user {
  grid-column: 1/3;
  grid-row: 1; }
  .user > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24px 24px 24px 24px; }
  .user .userText {
    padding-left: 16px; }
    .user .userText > p:first-child {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 2px; }
    .user .userText > p:last-child {
      font-size: 11px;
      font-weight: 500;
      color: #90a0b7; }

.menu {
  margin: 40px 24px 24px 24px;
  font-size: 13px; }
  .menu li {
    margin-top: 20px; }
    .menu li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: color 0.1s ease;
      transition: color 0.1s ease; }
    .menu li:nth-child(1) a {
      color: #109cf1; }
      .menu li:nth-child(1) a:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../img/dashboard-active.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 14px;
        vertical-align: middle; }
      .menu li:nth-child(1) a:hover {
        color: #34aff9; }
      .menu li:nth-child(1) a:active {
        color: #098edf; }
    .menu li:nth-child(2) a {
      color: #90a0b7; }
      .menu li:nth-child(2) a:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../img/deals.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 14px;
        vertical-align: middle; }
      .menu li:nth-child(2) a:hover {
        color: #34aff9; }
      .menu li:nth-child(2) a:active {
        color: #098edf; }
    .menu li:nth-child(3) a {
      color: #90a0b7; }
      .menu li:nth-child(3) a:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../img/chat.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 14px;
        vertical-align: middle; }
      .menu li:nth-child(3) a:hover {
        color: #34aff9; }
      .menu li:nth-child(3) a:active {
        color: #098edf; }
    .menu li:nth-child(4) a {
      color: #90a0b7; }
      .menu li:nth-child(4) a:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../img/contacts.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 14px;
        vertical-align: middle; }
      .menu li:nth-child(4) a:hover {
        color: #34aff9; }
      .menu li:nth-child(4) a:active {
        color: #098edf; }

/*# sourceMappingURL=style.css.map */