.contentGrid {
  grid-column: 4/6;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr 10px);
  grid-template-rows: repeat(8, 1fr 10px); }

* {
  font-family: Poppins; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #f5f6f8;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  body.ActiveHideMenu {
    @import url("style__hideMenu.css"); }

.firstConteiner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.upMenu {
  display: grid;
  grid-template-columns: 68px 188px 1fr 40px 40px;
  grid-template-rows: 60px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/3;
  grid-row: 1;
  padding: 17px 0 17px 24px;
  background-color: white;
  border-right: 1px solid #ebeff2;
  border-bottom: 1px solid #ebeff2;
  -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.225));
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.225)); }
  .logo > span {
    font-weight: 600;
    font-size: 18px;
    color: #109cf1; }

.logo_hidden {
  display: none; }

.search {
  grid-column: 3;
  grid-row: 1;
  padding: 17px 0 17px 24px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebeff2; }
  .search > img {
    margin: 20px 20px 20px 36px; }
  .search > p {
    color: #90a0b7;
    font-size: 12px;
    font-size: 600; }

.notificationImg {
  grid-column: 4/6;
  grid-row: 1;
  padding: 20px 40px 20px 24px;
  background-color: white; }

.secondConteiner {
  height: 100%;
  display: grid;
  grid-template-columns: 68px 188px 36px 1fr 36px 40px;
  grid-template-rows: 36px 1fr 36px; }

.leftMenu {
  grid-column: 1/3;
  grid-row: 1/5;
  background-color: white;
  border-right: 1px solid #ebeff2;
  -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.225));
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.225));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.user {
  grid-column: 1/3;
  grid-row: 1; }
  .user > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24px 24px 0px 24px; }
  .user .userText {
    padding-left: 16px; }
    .user .userText > p:first-child {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 2px; }
    .user .userText > p:last-child {
      font-size: 11px;
      font-weight: 500;
      color: #90a0b7; }

.menu {
  margin: 40px 24px 14px 24px;
  font-size: 13px; }
  .menu li {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .menu li img {
      margin-right: 14px;
      width: 20px; }
    .menu li a {
      color: #334d6e; }
      .menu li a:hover {
        color: #34aff9; }
      .menu li a:active {
        color: #388abd; }
    .menu li:nth-child(1) {
      cursor: pointer; }
      .menu li:nth-child(1) img {
        margin-right: 14px;
        width: 20px; }
      .menu li:nth-child(1) a {
        color: #109cf1; }
        .menu li:nth-child(1) a:hover {
          color: #34aff9; }
        .menu li:nth-child(1) a:active {
          color: #388abd; }

.borderMeu {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-top: 1px solid #ebeff2;
  width: 100%;
  height: 100%;
  padding: 24px 0px 24px 0px; }

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0px 24px;
  font-size: 13px; }
  .settings ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .settings ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      margin: 10px 0px 10px 0px; }
      .settings ul li img {
        margin-right: 14px;
        width: 20px; }
      .settings ul li a {
        color: #334d6e; }
        .settings ul li a:hover {
          color: #34aff9; }
        .settings ul li a:active {
          color: #388abd; }

/*# sourceMappingURL=style__activeMenu.css.map */