// Подключаем стили для li пунктов меню
@import "mixins/mixin.scss";
@import "content/dashboard.scss";

* {
  font-family: Poppins;
}

// Переменные цветов шаблона
$colorAccentBlue: #109cf1;
$colorYellow: #ffb946;
$colorRed: #f7685b;
$colorGreen: #2ed47a;
$colorPurple: #885af8;
$colorBlack: #192a3e;
$colorTableBlack: #323c47;
$colorTableGray: #707683;
$colorDarkBlueText: #334d6e;
$colorGray: #90a0b7;
$colorIconGray: #c2cfe0;
$cologBG: #f5f6f8;
$colorBorder: #ebeff2;

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: $cologBG;
  transition: all 1s ease;

  &.ActiveHideMenu {
    @import url("style__hideMenu.css");
  }
}

.firstConteiner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upMenu {
  display: grid;
  grid-template-columns: 68px 188px 1fr 40px 40px;
  grid-template-rows: 60px;
}

.logo {
  display: flex;
  align-items: center;
  grid-column: 1/3;
  grid-row: 1;
  padding: 17px 0 17px 24px;
  background-color: white;
  border-right: 1px solid $colorBorder;
  border-bottom: 1px solid $colorBorder;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.225));
  > span {
    font-weight: 600;
    font-size: 18px;
    color: $colorAccentBlue;
  }
}
.logo_hidden {
  display: none;
}

.search {
  grid-column: 3;
  grid-row: 1;
  padding: 17px 0 17px 24px;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $colorBorder;
  > img {
    margin: 20px 20px 20px 36px;
  }
  > p {
    color: $colorGray;
    font-size: 12px;
    font-size: 600;
  }
}

.notificationImg {
  grid-column: 4/6;
  grid-row: 1;
  padding: 20px 40px 20px 24px;
  background-color: white;
}

.secondConteiner {
  height: 100%;
  display: grid;
  grid-template-columns: 68px 188px 36px 1fr 36px 40px;
  grid-template-rows: 36px 1fr 36px;
}

.leftMenu {
  grid-column: 1/3;
  grid-row: 1/5;
  background-color: white;
  border-right: 1px solid $colorBorder;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.225));
  display: flex;
  flex-direction: column;
}

.user {
  grid-column: 1/3;
  grid-row: 1;
  > div {
    display: flex;
    align-items: center;
    margin: 24px 24px 0px 24px;
  }
  .userText {
    padding-left: 16px;
    > p:first-child {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 2px;
    }
    > p:last-child {
      font-size: 11px;
      font-weight: 500;
      color: $colorGray;
    }
  }
}

.menu {
  margin: 40px 24px 14px 24px;
  font-size: 13px;

  li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    @include items($colorDarkBlueText);

    &:nth-child(1) {
      @include items($colorAccentBlue);
    }
  }
}

.borderMeu {
  box-sizing: content-box;
  border-top: 1px solid $colorBorder;
  width: 100%;
  height: 100%;
  padding: 24px 0px 24px 0px;
}
.settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 24px;
  font-size: 13px;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
      display: flex;
      align-items: center;
      @include items($colorDarkBlueText);
      margin: 10px 0px 10px 0px;
    }
  }
}
