$colorBlack: #192a3e;
$colorDarkBlueText: #334d6e;

// Стили для li пунктов меню
@mixin items($color) {
  cursor: pointer;

  img {
    margin-right: 14px;
    width: 20px;
  }

  > p {
    color: $color;

    &:hover {
      color: #34aff9;
    }

    &:active {
      color: #388abd;
    }
  }
}

@mixin dashboard__number($gridColumn, $gridRow, $color) {
  width: 100%;
  height: 100%;
  grid-column: unquote($gridColumn);
  grid-row: unquote($gridRow);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dashboard1__headr {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid $colorBorder;
    padding: 16px 0 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: $colorDarkBlueText;
  }
  .dashboard1__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    color: $color;

    .dashboard1__summ {
      border-top: $color 1px solid;
      padding: 7px;
      font-size: 40px;
      font-weight: 500;
    }
  }
}

@mixin settings_item($gridColumn, $gridRow, $color) {
  width: 100%;
  height: 100%;
  grid-column: unquote($gridColumn);
  grid-row: unquote($gridRow);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .setting__headr {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid $colorBorder;
    padding: 16px 0 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: $colorDarkBlueText;
  }
  .setting__content {
    width: 100%;
    height: 100%;
  }
}

@mixin stepItem($gridColumn, $gridRow, $color) {
  .setting__content__step {
    grid-column: unquote($gridColumn);
    grid-row: unquote($gridRow);
    color: $colorGray;
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 92px;
    text-transform: uppercase;
  }

  .setting__content__text {
    grid-column: 2/5;
    grid-row: 2;
    margin: 0px 15px 0px 15px;

    // text-transform: uppercase;
    color: #818e9b;
    font-size: 13px;
    font-weight: 500;
  }

  // .setting__content__input {
  //   grid-column: 2;
  //   grid-row: 2;
  //   height: 40px;
  //   margin: 0px 15px 0px 15px;
  //   font-size: 20px;
  //   font-weight: 600;
  //   color: $colorTableGray;
  //   padding-left: 10px;
  // }

  // .setting__content__button {
  //   grid-column: 3;
  //   grid-row: 2;
  //   height: 40px;
  //   margin: 0px 15px 0px 0px;
  //   border: 1px solid #e3e3e3;
  //   background-color: $color;
  //   color: white;
  //   text-transform: uppercase;
  //   border-radius: 5px;
  // }
}
