$colorBlack: #192a3e;
$colorDarkBlueText: #334d6e;

// Стили для li пунктов меню
@mixin items($color) {
  cursor: pointer;

  img {
    margin-right: 14px;
    width: 20px;
  }

  > p {
    color: $color;

    &:hover {
      color: #34aff9;
    }

    &:active {
      color: #388abd;
    }
  }
}

@mixin dashboard__number($gridColumn, $gridRow, $color) {
  width: 100%;
  height: 100%;
  grid-column: unquote($gridColumn);
  grid-row: unquote($gridRow);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dashboard1__headr {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid $colorBorder;
    padding: 16px 0 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: $colorDarkBlueText;
  }
  .dashboard1__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    color: $color;

    .dashboard1__summ {
      border-top: $color 1px solid;
      padding: 7px;
      font-size: 40px;
      font-weight: 500;
    }
  }
}

@mixin settings_item($gridColumn, $gridRow, $color) {
  width: 100%;
  height: 100%;
  grid-column: unquote($gridColumn);
  grid-row: unquote($gridRow);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .setting__headr {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid $colorBorder;
    padding: 16px 0 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: $colorDarkBlueText;
  }
  .setting__content {
    width: 100%;
    height: 100%;
  }
}

@mixin stepItem($gridColumn, $gridRow, $color) {
  .setting__content__step {
    grid-column: unquote($gridColumn);
    grid-row: unquote($gridRow);
    color: $colorGray;
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 92px;
    text-transform: uppercase;
  }

  .setting__content__text {
    grid-column: 2/5;
    grid-row: 2;
    margin: 0px 15px 0px 15px;

    // text-transform: uppercase;
    color: #818e9b;
    font-size: 13px;
    font-weight: 500;
  }
}

@mixin notification__block($colorBtn) {
  .setting__content__control__notofocation {
    overflow: visible;
    height: 126px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px 23px 7px 20px 22px 20px 16px;
    margin: 24px;
    padding: 0px 16px;
    border-radius: 4px;
    border: 1px solid $colorBorder;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  }

  .setting__content__control__notofocation__header {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > p:first-child {
      color: $colorTableBlack;
      font-size: 15px;
      font-weight: 500;
    }
    > p:last-child {
      color: $colorGray;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .setting__content__control__notofocation__body {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-content: start;
    #notification_date {
      margin-left: 5px;
    }

    > p:first-child {
      color: hsla(221, 8%, 48%, 0.5);
      font-size: 13px;
      font-weight: 400;
    }
    > p:last-child {
      color: $colorTableGray;
      font-size: 13px;
      font-weight: 400;
    }
  }

  .setting__content__control__notofocation__footer {
    grid-column: 1;
    grid-row: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    > div > p {
      color: $colorTableGray;
      font-size: 13px;
      font-weight: 400;
      margin-left: 5px;
    }

    > div > img {
      width: 24px;
      height: 24px;
    }
    > p:last-child {
      color: white;
      font-size: 11px;
      font-weight: 500;
      border-radius: 4px;
      background-color: $colorBtn;
      width: 84px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

//Стилизация табличных блоков
@mixin table() {
  .contentGrid {
    grid-row: 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    // gap: 1px;
  }

  .grid-header {
    height: 48px;
    font-weight: 400;
    font-size: 13px;
    color: $colorGray;
    background-color: white;
    border-top: 1px solid $colorBorder;
    border-bottom: 1px solid $colorBorder;
    padding: 5px 10px 5px 10px;

    display: flex;
    align-items: center;
  }

  .grid-item {
    font-family: "Play";
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    padding: 0.7px 10px 0px 10px;

    text-transform: uppercase;
    background-color: #fff;
    color: $colorTableGray;
    border-bottom: 1px solid $colorBorder;

    display: flex;
    align-items: center;

    &:nth-child(9n + 3) {
      font-size: 14px;
      font-weight: 400;
      color: $colorBlack;
    }

    &:nth-child(9n + 6),
    &:nth-child(9n + 7),
    &:nth-child(9n + 8),
    &:nth-child(9n + 9) {
      display: flex;
      justify-content: center;
    }

    &:nth-child(9n + 5) {
      display: flex;
      justify-content: end;
    }

    &:hover {
      transition: color 0.2s ease-in;
      color: $colorAccentBlue;
    }
  }
}

//В контактах это заголовоки
@mixin contact__title() {
  margin: 0px 15px 0px 15px;
  color: #818e9b;
  font-size: 11px;
  font-weight: 300;
}
//В контактах текст под заголовками
@mixin contact__text() {
  font-size: 13px;
  font-weight: 400;
  padding: 0px 0 8px 15px;
  border-bottom: 1px solid #818e9b;
  color: $colorBlack;
}
