.headr {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-family: "Times New Roman", Times, serif;
  background-color: cornflowerblue;
  color: white;
}
.allContent {
  display: flex;
  justify-content: start;

  h3 {
    text-align: center;
    font-style: inherit;
    margin: 15px;
    font-weight: bold;
  }
  .menu {
    flex-shrink: 0;
    width: 230px;
    background-color: yellowgreen;
    padding: 15px;
    ul li {
      list-style-type: square;
      list-style-position: inside;
      padding-left: 15px;
    }
    h4 {
      font-weight: bold;
      padding: 20px 0px 20px 0px;
    }
  }

  .contentdiv2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px 15px 15px;
    .image {
      flex-shrink: 0;
      width: 350px;
      margin: 0 auto;
      > img {
        width: 100%;
        padding: 5px;
      }
    }

    .text {
      text-align: justify;
      flex: 1 1 350px;
    }
  }
}

.contentdiv {
  padding: 20px;
  background-image: url(../img/ball2.jpeg);
  background-repeat: repeat-y;
  background-position: right;

  > img {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}
