$colorAccentBlue: #109cf1;
$colorYellow: #ffb946;
$colorRed: #f7685b;
$colorGreen: #2ed47a;
$colorPurple: #885af8;
$colorBlack: #192a3e;
$colorTableBlack: #323c47;
$colorTableGray: #707683;
$colorDarkBlueText: #334d6e;
$colorGray: #90a0b7;
$colorIconGray: #c2cfe0;
$cologBG: #f5f6f8;
$colorBorder: #ebeff2;
@import "../mixins/mixin.scss";

.contentGrid {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(7, 1fr minmax(5px, 30px)) 1fr;

  // column-gap: minmax(5px, 30px);
  grid-template-rows: repeat(6, 1fr 30px);
  .dashboard1 {
    &:nth-child(1) {
      @include dashboard__number("1/4", "1/4", $colorAccentBlue);
    }
    &:nth-child(2) {
      @include dashboard__number("5/8", "1/4", $colorYellow);
    }
    &:nth-child(3) {
      @include dashboard__number("9/12", "1/4", $colorGreen);
    }
    &:nth-child(4) {
      @include dashboard__number("13/16", "1/4", $colorRed);
    }
  }
}

.dashboard1__headr {
  border-bottom: 1px solid $colorBorder;
  padding: 16px 0 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: $colorDarkBlueText;
  height: 54px;
}

.dashboard1__content {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard1__text {
  position: relative;
  bottom: 35px;
  font-size: 16px;
  font-weight: 600;
  color: $colorIconGray;
}

.topFiveDials {
  width: 100%;
  height: 100%;
  grid-column: 1/17;
  grid-row: 5/13;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
}

.Top5Deals {
  padding: 0 16px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto auto auto auto;
  @include table();
}

.Top5Deals .grid-header {
  border-top: none;
}

.dashboard1__headr_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard1__time {
  font-size: 12px;
  font-weight: 300;
  color: $colorTableGray;
  margin-right: 16px;
  > span:last-child {
    color: $colorAccentBlue;
  }
}
