.contentGrid {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(7, 1fr minmax(5px, 30px)) 1fr;
  grid-template-rows: repeat(6, 1fr 30px); }
  .contentGrid .dashboard1:nth-child(1) {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contentGrid .dashboard1:nth-child(1) .dashboard1__headr {
      width: 100%;
      height: 54px;
      border-bottom: 1px solid #ebeff2;
      padding: 16px 0 16px 24px;
      font-size: 16px;
      font-weight: 600;
      color: #334d6e; }
    .contentGrid .dashboard1:nth-child(1) .dashboard1__content {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 70px;
      font-weight: 700;
      color: #109cf1; }
      .contentGrid .dashboard1:nth-child(1) .dashboard1__content .dashboard1__summ {
        border-top: #109cf1 1px solid;
        padding: 7px;
        font-size: 40px;
        font-weight: 500; }
  .contentGrid .dashboard1:nth-child(2) {
    width: 100%;
    height: 100%;
    grid-column: 5/8;
    grid-row: 1/4;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contentGrid .dashboard1:nth-child(2) .dashboard1__headr {
      width: 100%;
      height: 54px;
      border-bottom: 1px solid #ebeff2;
      padding: 16px 0 16px 24px;
      font-size: 16px;
      font-weight: 600;
      color: #334d6e; }
    .contentGrid .dashboard1:nth-child(2) .dashboard1__content {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 70px;
      font-weight: 700;
      color: #ffb946; }
      .contentGrid .dashboard1:nth-child(2) .dashboard1__content .dashboard1__summ {
        border-top: #ffb946 1px solid;
        padding: 7px;
        font-size: 40px;
        font-weight: 500; }
  .contentGrid .dashboard1:nth-child(3) {
    width: 100%;
    height: 100%;
    grid-column: 9/12;
    grid-row: 1/4;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contentGrid .dashboard1:nth-child(3) .dashboard1__headr {
      width: 100%;
      height: 54px;
      border-bottom: 1px solid #ebeff2;
      padding: 16px 0 16px 24px;
      font-size: 16px;
      font-weight: 600;
      color: #334d6e; }
    .contentGrid .dashboard1:nth-child(3) .dashboard1__content {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 70px;
      font-weight: 700;
      color: #2ed47a; }
      .contentGrid .dashboard1:nth-child(3) .dashboard1__content .dashboard1__summ {
        border-top: #2ed47a 1px solid;
        padding: 7px;
        font-size: 40px;
        font-weight: 500; }
  .contentGrid .dashboard1:nth-child(4) {
    width: 100%;
    height: 100%;
    grid-column: 13/16;
    grid-row: 1/4;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contentGrid .dashboard1:nth-child(4) .dashboard1__headr {
      width: 100%;
      height: 54px;
      border-bottom: 1px solid #ebeff2;
      padding: 16px 0 16px 24px;
      font-size: 16px;
      font-weight: 600;
      color: #334d6e; }
    .contentGrid .dashboard1:nth-child(4) .dashboard1__content {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 70px;
      font-weight: 700;
      color: #f7685b; }
      .contentGrid .dashboard1:nth-child(4) .dashboard1__content .dashboard1__summ {
        border-top: #f7685b 1px solid;
        padding: 7px;
        font-size: 40px;
        font-weight: 500; }

.dashboard1__headr {
  border-bottom: 1px solid #ebeff2;
  padding: 16px 0 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #334d6e;
  height: 54px; }

.dashboard1__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dashboard1__text {
  position: relative;
  bottom: 35px;
  font-size: 16px;
  font-weight: 600;
  color: #c2cfe0; }

.topFiveDials {
  width: 100%;
  height: 100%;
  grid-column: 1/17;
  grid-row: 5/13;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208); }

.Top5Deals {
  padding: 0 16px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto auto auto auto; }
  .Top5Deals .contentGrid {
    grid-row: 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto; }
  .Top5Deals .grid-header {
    height: 48px;
    font-weight: 400;
    font-size: 13px;
    color: #90a0b7;
    background-color: white;
    border-top: 1px solid #ebeff2;
    border-bottom: 1px solid #ebeff2;
    padding: 5px 10px 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .Top5Deals .grid-item {
    font-family: "Play";
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    padding: 0.7px 10px 0px 10px;
    text-transform: uppercase;
    background-color: #fff;
    color: #707683;
    border-bottom: 1px solid #ebeff2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .Top5Deals .grid-item:nth-child(9n + 3) {
      font-size: 14px;
      font-weight: 400;
      color: #192a3e; }
    .Top5Deals .grid-item:nth-child(9n + 6), .Top5Deals .grid-item:nth-child(9n + 7), .Top5Deals .grid-item:nth-child(9n + 8), .Top5Deals .grid-item:nth-child(9n + 9) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .Top5Deals .grid-item:nth-child(9n + 5) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end; }
    .Top5Deals .grid-item:hover {
      -webkit-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in;
      color: #109cf1; }

.Top5Deals .grid-header {
  border-top: none; }

.dashboard1__headr_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dashboard1__time {
  font-size: 12px;
  font-weight: 300;
  color: #707683;
  margin-right: 16px; }
  .dashboard1__time > span:last-child {
    color: #109cf1; }

/*# sourceMappingURL=dashboard.css.map */