.secondConteiner {
  grid-template-rows: 60px 36px auto 60px;
}

.contentGrid {
  grid-column: 4/6;
  grid-row: 3;
  display: grid;
  grid-template-columns: 2fr 36px 1fr;
  grid-template-rows: 400px 36px auto;
}

.setting {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.setting .setting__headr {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #ebeff2;
  padding: 16px 0 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #334d6e;
}
.setting .setting__content {
  width: 100%;
  height: 100%;
}

.setting__content {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.setting__content__border {
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(70px, 120px) 6fr;
  grid-template-rows: 25px 17px 31px;
}
.setting__content__border:hover > *:nth-child(1) {
  color: #109cf1;
}

.setting__content__step {
  grid-column: 1;
  grid-row: 1/3;
  color: #90a0b7;
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto;
  line-height: 92px;
  text-transform: uppercase;
}

.setting__content__text {
  grid-column: 2/5;
  grid-row: 2;
  margin: 0px 15px 0px 15px;
  color: #818e9b;
  font-size: 13px;
  font-weight: 500;
}

.setting__content__link {
  display: grid;
  grid-template-columns: minmax(70px, 120px) 6fr;
  grid-template-rows: 25px 17px 31px;
  padding: 15px;
}

.setting__content__link__text {
  grid-column: 2;
  grid-row: 1;
  margin: 0px 0px 0px 15px;
  color: #818e9b;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
}

.setting__content__link__text__link {
  display: block;
  margin: 0px 15px 0px 0px;
  color: #109cf1;
  border-bottom: 1px solid #d3d8dd;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.setting__content__link__text__link.animate {
  opacity: 1;
  transform: translateY(0);
}
.setting__content__link__text__link:hover {
  color: #34aff9;
  border-bottom: 1px solid #109cf1;
}
.setting__content__link__text__link:active {
  color: #098edf;
}

.setting__content__webhook {
  display: grid;
  grid-template-columns: minmax(70px, 120px) 6fr 160px 160px;
  grid-template-rows: 25px 17px 31px 1fr;
  padding: 15px;
}

.setting__content__input {
  grid-column: 2/5;
  grid-row: 3;
  height: 20px;
  margin: 0px 15px 0px 15px;
  border-bottom: 1px solid #d3d8dd;
  text-transform: lowercase;
  font-size: 13px;
  font-weight: 400;
  color: #323c47;
  padding: 0px 0px 6px 0px;
  transition: border-color 0.2s ease;
}
.setting__content__input:focus {
  border-color: #109cf1;
  outline: none;
}

.setting__content__button_cls {
  grid-column: 3;
  grid-row: 4;
  height: 42px;
  margin: 0px 15px 0px 15px;
  border: 1px solid #098edf;
  border-radius: 5px;
  font-size: 13px;
  color: #109cf1;
  transition: background-color 0.3s ease;
}
.setting__content__button_cls:hover {
  color: #34aff9;
  cursor: pointer;
}
.setting__content__button_cls:active {
  color: #098edf;
}

.setting__content__button_ok {
  grid-column: 4;
  grid-row: 4;
  height: 42px;
  margin: 0px 15px 0px 15px;
  border: 1px solid transparent;
  background-color: #109cf1;
  font-size: 13px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.setting__content__button_ok:hover {
  background-color: #34aff9;
  cursor: pointer;
}
.setting__content__button_ok:active {
  background-color: #098edf;
  cursor: pointer;
}

.insertNotification {
  height: 80vh;
  overflow: auto;
  position: relative;
}

.insertNotification > *:first-child {
  animation: fadeInAndSlideDown 1s ease-in-out;
}

.insertNotification > *:not(:first-child) {
  animation: slideDown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInAndSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-126px);
  }
  100% {
    transform: translateY(0);
  }
}
.control {
  width: 100%;
  height: 100%;
  grid-column: 3;
  grid-row: 1/4;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control .setting__headr {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #ebeff2;
  padding: 16px 0 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #334d6e;
}
.control .setting__content {
  width: 100%;
  height: 100%;
}

.setting__content__control__complete .setting__content__control__notofocation {
  overflow: visible;
  height: 126px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 23px 7px 20px 22px 20px 16px;
  margin: 24px;
  padding: 0px 16px;
  border-radius: 4px;
  border: 1px solid #ebeff2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}
.setting__content__control__complete .setting__content__control__notofocation__header {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__complete .setting__content__control__notofocation__header > p:first-child {
  color: #323c47;
  font-size: 15px;
  font-weight: 500;
}
.setting__content__control__complete .setting__content__control__notofocation__header > p:last-child {
  color: #90a0b7;
  font-size: 12px;
  font-weight: 500;
}
.setting__content__control__complete .setting__content__control__notofocation__body {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__complete .setting__content__control__notofocation__body #notification_date {
  margin-left: 5px;
}
.setting__content__control__complete .setting__content__control__notofocation__body > p:first-child {
  color: hsla(221, 8%, 48%, 0.5);
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__complete .setting__content__control__notofocation__body > p:last-child {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__complete .setting__content__control__notofocation__footer {
  grid-column: 1;
  grid-row: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__complete .setting__content__control__notofocation__footer > div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__complete .setting__content__control__notofocation__footer > div > p {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}
.setting__content__control__complete .setting__content__control__notofocation__footer > div > img {
  width: 24px;
  height: 24px;
}
.setting__content__control__complete .setting__content__control__notofocation__footer > p:last-child {
  color: white;
  font-size: 11px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #2ed47a;
  width: 84px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting__content__control__request .setting__content__control__notofocation {
  overflow: visible;
  height: 126px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 23px 7px 20px 22px 20px 16px;
  margin: 24px;
  padding: 0px 16px;
  border-radius: 4px;
  border: 1px solid #ebeff2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}
.setting__content__control__request .setting__content__control__notofocation__header {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__request .setting__content__control__notofocation__header > p:first-child {
  color: #323c47;
  font-size: 15px;
  font-weight: 500;
}
.setting__content__control__request .setting__content__control__notofocation__header > p:last-child {
  color: #90a0b7;
  font-size: 12px;
  font-weight: 500;
}
.setting__content__control__request .setting__content__control__notofocation__body {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__request .setting__content__control__notofocation__body #notification_date {
  margin-left: 5px;
}
.setting__content__control__request .setting__content__control__notofocation__body > p:first-child {
  color: hsla(221, 8%, 48%, 0.5);
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__request .setting__content__control__notofocation__body > p:last-child {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__request .setting__content__control__notofocation__footer {
  grid-column: 1;
  grid-row: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__request .setting__content__control__notofocation__footer > div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__request .setting__content__control__notofocation__footer > div > p {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}
.setting__content__control__request .setting__content__control__notofocation__footer > div > img {
  width: 24px;
  height: 24px;
}
.setting__content__control__request .setting__content__control__notofocation__footer > p:last-child {
  color: white;
  font-size: 11px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #885af8;
  width: 84px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting__content__control__clear .setting__content__control__notofocation {
  overflow: visible;
  height: 126px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 23px 7px 20px 22px 20px 16px;
  margin: 24px;
  padding: 0px 16px;
  border-radius: 4px;
  border: 1px solid #ebeff2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}
.setting__content__control__clear .setting__content__control__notofocation__header {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__clear .setting__content__control__notofocation__header > p:first-child {
  color: #323c47;
  font-size: 15px;
  font-weight: 500;
}
.setting__content__control__clear .setting__content__control__notofocation__header > p:last-child {
  color: #90a0b7;
  font-size: 12px;
  font-weight: 500;
}
.setting__content__control__clear .setting__content__control__notofocation__body {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__clear .setting__content__control__notofocation__body #notification_date {
  margin-left: 5px;
}
.setting__content__control__clear .setting__content__control__notofocation__body > p:first-child {
  color: hsla(221, 8%, 48%, 0.5);
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__clear .setting__content__control__notofocation__body > p:last-child {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__clear .setting__content__control__notofocation__footer {
  grid-column: 1;
  grid-row: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__clear .setting__content__control__notofocation__footer > div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__clear .setting__content__control__notofocation__footer > div > p {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}
.setting__content__control__clear .setting__content__control__notofocation__footer > div > img {
  width: 24px;
  height: 24px;
}
.setting__content__control__clear .setting__content__control__notofocation__footer > p:last-child {
  color: white;
  font-size: 11px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #ffb946;
  width: 84px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting__content__control__error .setting__content__control__notofocation {
  overflow: visible;
  height: 126px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 23px 7px 20px 22px 20px 16px;
  margin: 24px;
  padding: 0px 16px;
  border-radius: 4px;
  border: 1px solid #ebeff2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}
.setting__content__control__error .setting__content__control__notofocation__header {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__error .setting__content__control__notofocation__header > p:first-child {
  color: #323c47;
  font-size: 15px;
  font-weight: 500;
}
.setting__content__control__error .setting__content__control__notofocation__header > p:last-child {
  color: #90a0b7;
  font-size: 12px;
  font-weight: 500;
}
.setting__content__control__error .setting__content__control__notofocation__body {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__error .setting__content__control__notofocation__body #notification_date {
  margin-left: 5px;
}
.setting__content__control__error .setting__content__control__notofocation__body > p:first-child {
  color: hsla(221, 8%, 48%, 0.5);
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__error .setting__content__control__notofocation__body > p:last-child {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
}
.setting__content__control__error .setting__content__control__notofocation__footer {
  grid-column: 1;
  grid-row: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__content__control__error .setting__content__control__notofocation__footer > div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.setting__content__control__error .setting__content__control__notofocation__footer > div > p {
  color: #707683;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}
.setting__content__control__error .setting__content__control__notofocation__footer > div > img {
  width: 24px;
  height: 24px;
}
.setting__content__control__error .setting__content__control__notofocation__footer > p:last-child {
  color: white;
  font-size: 11px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #f7685b;
  width: 84px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__help {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 3;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.video__help .setting__headr {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #ebeff2;
  padding: 16px 0 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #334d6e;
}
.video__help .setting__content {
  width: 100%;
  height: 100%;
}

.video__help__youtube {
  width: 100%;
  height: 100%;
}
.video__help__youtube > div {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=settings.css.map */