.headr {
  display: none;
}

.allContent {
  flex-direction: column-reverse;
  .menu {
    background-color: white;
    padding: 0;
  }
  .menu ul {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
      list-style-type: none;
    }
    .menu h4 {
      display: none;
      font-weight: bold;
      padding: 0;
    }
  }
}

.image {
  flex-shrink: 1 !important;
}
