* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.wrapper {
	background: transparent;
	color: white;
	border-radius: 10px;
	padding: 30px 40px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(35px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transform: translateY(50px);
	animation: fadeInUp 1s forwards;
}

.wrapper h1 {
	font-size: 36px;
	text-align: center;
}

.wrapper h2 {
	font-size: 32px;
	text-align: center;
}

.wrapper .input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.input-row-50px {
	height: 50px;
}


.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.inputRadius10 {
	border-radius: 10px !important;
	font-size: 14px !important;
}


.input-box input::placeholder {
	color: #fff;
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: #fff;
}

.wrapper .remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.remember-forgot label input {
	accent-color: #fff;
	margin-right: 3px;
}

.remember-forgot a {
	color: #fff;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.wrapper .button {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.register-link p a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.register-link p a:hover {
	text-decoration: underline;
}

.wrapper .button:hover {
	background: #ffffffa3;
	color: #333;
}

.wrapper .button:active {
	background: hsl(0, 47%, 55%);
	color: #333;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(50px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#parallax-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.parallax-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.parallax-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.input-row {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.input-box {
	flex: 1;
}


button {
	cursor: pointer;
	appearance: none;
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	margin: 0;
	padding: 0;
	transition-duration: var(--bulma-duration);
	transition-property: background-color, border-color, color;
}



/* Стилизация контейнеров запроса деталей и выдачи деталей */
.container {
	padding: 20px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 4fr 10fr;
	grid-template-rows: 1fr;
	gap: 20px;
}

#input-container {
	height: 95%;
	padding: 20px;
	grid-column: 1;
	grid-row: 1;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Результирующий контейнер */
.result-container {
	height: 95%;
	padding: 20px;
	grid-column: 2;
	grid-row: 1;
	margin: 0px 0px 0px 10px;
	background: rgba(255, 255, 255, 0.1);
	color: white;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(100px);
	/* Увеличено размытие для более мягкого эффекта */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	overflow-x: hidden;
}

.wrapper_result {
	padding: 30px 0 0 0;
}


/* Кнопки полей ввода (Удалить) и (Добавить) */
.add-row {
	width: 80px !important;
	font-size: 16px !important;
	color: rgba(255, 255, 255, 0.3);
}

.add-row:hover {
	color: white;
	transition: all 0.5s;
}

.remove-row {
	width: 80px !important;
	font-size: 14px !important;
	color: rgba(255, 255, 255, 0.3);
	/* transform: rotate(45deg); */
}

.remove-row:hover {
	color: white;
	transform: scale(1.3) rotate(-90deg);
	transition: all 0.2s;
}

.remove-row:out-of-range {
	transform: scale(0.9) rotate(-90deg);
	transition: all 0.2s;
}



/* Анимация добавления новых строк */
.fade-in {
	animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}