/* Таблица */

.card table {
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.2s ease-in, transform 0.2s ease;
}

/* Анимация таблицы */

.card table.show {
	opacity: 1;
	transform: translateY(0);
}

/* Заголовок таблицы */

.card table thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.6);
}

/* Ячейки заголовка */

.card table th {
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.2);
	height: 40px;
	font-weight: 500;
	padding: 0 5px;
	color: rgba(0, 0, 0, 0.5);
}

/* Ячейки тела таблицы */

.card table :is(td) {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Содержимое ячейки */

.card table .cell-content-start {
	position: absolute;
	top: 50%;
	left: 10px;
	translate: 0 -50%;
}

/* Центрирование содержимого */

.card table .cell-content-center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* Выделение строки */

.highlight {
	background-color: rgba(0, 255, 0, 0.2);
	/* Зеленый с прозрачностью */
}

/* Контейнер для иконки просмотра */

.cardPrewiew {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.fa-sistrix {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(255, 255, 255, 0.1);
		font-size: 120px;
	}
}

/* Драггер */

.card table th .draggable {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 6px;
	cursor: col-resize;
}

/* Ресайзер */

.resizer {
	position: absolute;
	right: -6px;
	top: 0;
	width: 10px;
	height: 100%;
	cursor: col-resize;
	/* background: rgba(0, 0, 0, 0.8); */
	z-index: 1;
}

/* Контейнер таблицы */

.wrapper {
	overflow: hidden;
	position: relative;
	z-index: 2;
}

/* Карточка с таблицей */

.card {
	grid-column: 2;
	grid-row: 1;
	background: #ffffff;
	border-radius: 10px;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.1);
	color: white;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(100px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	overflow-x: hidden;
}





/* Иконка вопроса */

.fa-circle-question {
	transition: all 0.2s;
}

.fa-circle-question:hover {
	cursor: pointer;
	transform: scale(1.5);
}

.fa-circle-question:active {
	transform: scale(1.0);
}