$colorAccentBlue: #109cf1;
$colorYellow: #ffb946;
$colorRed: #f7685b;
$colorGreen: #2ed47a;
$colorPurple: #885af8;
$colorBlack: #192a3e;
$colorTableBlack: #323c47;
$colorTableGray: #707683;
$colorDarkBlueText: #334d6e;
$colorGray: #90a0b7;
$colorIconGray: #c2cfe0;
$cologBG: #f5f6f8;
$colorBorder: #ebeff2;
@import "../mixins/mixin.scss";

.secondConteiner {
  grid-template-rows: 60px 36px auto 60px;
}

.contentGrid {
  grid-column: 4/6;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 36px 2fr;
  grid-template-rows: 1fr 36px 3fr auto;
  // transition: all 1s ease;
}

//Записки
.setting {
  @include settings_item("3", "1", $colorAccentBlue);
  justify-content: stretch;
}

//Моя карточка
.control {
  @include settings_item("1", "1/4", $colorAccentBlue);
}

//Нотификации
.video__help {
  @include settings_item("3", "3", $colorAccentBlue);
}

//Поле контента внутри карточек
.setting__content {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 16px;
}

.setting__content__preview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 138px 25px 22px 36px 62px;
  align-items: center;
  border-bottom: 1px solid $colorBorder;
  margin: 0px 30px;
  div {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  & > div:nth-child(1) {
    grid-row: 1;
  }
  & > div:nth-child(2) {
    grid-row: 2;
    height: 100%;

    color: $colorTableBlack;
    font-size: 15px;
    font-weight: 500;
  }
  & > div:nth-child(3) {
    grid-row: 3;
    height: 100%;

    color: $colorTableGray;
    font-size: 12px;
    font-weight: 400;
  }
  & > div:nth-child(4) {
    grid-row: 4;
    height: 100%;

    > p {
      color: white;
      background-color: $colorGreen;
      border-radius: 4px;
      width: 84px;
      height: 22px;
      font-size: 11px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & > div:nth-child(5) {
    grid-row: 5;
    > img:nth-child(1),
    > img:nth-child(2) {
      padding: 0 10px;
    }
    > img:nth-child(3) {
      padding: 0 8px;
    }
  }
}

// Карточка с информацией о пользователе
.setting__content__cardEditor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 47.5px 33px repeat(4, 31px 33px);
  div {
    display: flex;
    align-items: end;
  }

  // Для к нечетных элементов
  & > div:nth-child(odd) {
    @include contact__title();
  }

  // Для к четный элементов
  & > div:nth-child(even) {
    @include contact__text();
  }
}

// Шапка с нотификациями в контактах
.setting__headr__icon {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    svg {
      fill: $colorIconGray;
    }
    > span {
      color: $colorIconGray;
      font-size: 13px;
      font-weight: 400;
      margin-left: 6px;
    }

    &:hover {
      svg {
        fill: $colorDarkBlueText;
      }
      span {
        color: $colorDarkBlueText;
      }
    }
  }
}

.video__help__youtube {
  width: 100%;
  height: 100%;
  object-fit: cover;
  div {
    width: 100%;
    height: 100%;
  }
}

// Поле контента внутри карточек
.setting__content__note {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.setting__content__note__text {
  width: 100%;
  display: flex;
  justify-content: start;
  color: $colorIconGray;
  font-size: 14px;
  > p {
    margin: 16px 0px 0px 16px;
  }
}
.setting__content__note__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: $colorIconGray;
  font-size: 14px;
  font-weight: 500;
  > div:first-child {
    display: flex;
    align-items: center;
    > svg {
      fill: $colorIconGray;
      margin-left: 8px;
      &:hover {
        fill: $colorDarkBlueText;
      }
    }
  }
  > div:last-child {
    button {
      padding-right: 20px;
      &:hover {
        color: $colorDarkBlueText;
      }
    }
  }
}
